# Basics - Object types

**MUTABLE**

it can be changed after declaration - LIST, DICTIONARY, SET

**IMMUTABLE**

it can't be changed after declaration - TUPLES, INT, FLOAT, BOOL, STRINGS

## LIST (Mutable)

In [1]:
#List can store any data type inside itself = []

a=['slay,-^', 'apbp', 7777.777, 1306, 'is', True, False, 'golden']
print(a)

['slay,-^', 'apbp', 7777.777, 1306, 'is', True, False, 'golden']

In [2]:
#list.append() adds the value at the end of the list
a.append('herbivorous dinosaur')
print(a)

['slay,-^', 'apbp', 7777.777, 1306, 'is', True, False, 'golden', 'herbivorous dinosaur']

**indexing** - refers to fetching a single value from particular datatype.
An index is the address of a value and it always starts at 0 

**negative index:** it starts from right with -1, -2 etc

**slicing** - if  you want to fetch more than one element using index values

In [4]:
a[1]

'apbp'

In [5]:
a[-2]

'golden'

In [7]:
a[-4:]

#it will start from -4 and go up (-3,-2,-1)

[True, False, 'golden', 'herbivorous dinosaur']

In [8]:
a[0:3]

['slay,-^', 'apbp', 7777.777]

In [9]:
a[0:6:2]
#the step element jumps over elements as many times as the value entered

['slay,-^', 7777.777, 'is']

In [10]:
a[5]='seven'
print (a)

#replaced the value of the 5th index(in this case the bool value True) with the new value

['slay,-^', 'apbp', 7777.777, 1306, 'is', 'seven', False, 'golden', 'herbivorous dinosaur']

In [11]:
a[::-1]
# a horizontal list in reverse

['herbivorous dinosaur',
 'golden',
 False,
 'seven',
 'is',
 1306,
 7777.777,
 'apbp',
 'slay,-^']

In [13]:
#removes the value
a.pop(0)
a

['apbp',
 7777.777,
 1306,
 'is',
 'seven',
 False,
 'golden',
 'herbivorous dinosaur']

## SETS {} - Mutable

**UNORDERED COLLECTION OF UNIQUE ITEMS**, sometimes it will show as asc, desc or random order

In [14]:
c={1,3,7,7.98,14,54,98}
print(c)

{1, 98, 3, 7.98, 54, 7, 14}

In [16]:
#True is 1 and 0 is False. Since sets dont take duplicate values
#the value entered first (between True/1 and false/0) will be registered

b={4,9, 'panda', 'Panda', True, 1, 0, False}
print (b)

{0, True, 'Panda', 4, 'panda', 9}

## DICTIONARY {key:value} - Mutable

In [27]:
dict1={
    'a':'apple',
    'b':[1,3,7],
    'c':'cat'    
}

print (dict1)

{'a': 'apple', 'b': [1, 3, 7], 'c': 'cat'}

In [28]:
dict1.keys()

dict_keys(['a', 'b', 'c'])

In [29]:
dict1.values()

dict_values(['apple', [1, 3, 7], 'cat'])

In [30]:
dict1['c']

'cat'

## TUPLE () - Immutable

In [18]:
# tuple only has count and index function
t=(613, 7.0 , True, 'tan')
t

(613, 7.0, True, 'tan')

In [19]:
t[1]

7.0

In [21]:
t.count(True)

1

In [22]:
t.index('tan')

3