# conditional statements - if, else, elif

if condition:
    output

In [1]:
#simple if statement

x=4

if x>1:
    print ("yay")

yay

In [2]:
# if else

x=0

if x==1:
    print('hi')
else:
    print ('bye')

bye

In [4]:
#multiple ifs - the conditions that meet will be executed, rest wont be

a=10

if a>2:
    print('Drink')
if a>3:
    print('More')
if a>5:
    print ('Water')
if a>10:
    print ('Please')

Drink
More
Water

In [5]:
#elif else - if --- the moment the first condition is met, it will come out of the elif block

a=10

if a<5:
    print('hi')
elif a>6:
    print('hello')
elif a>8:
    print('ola')
elif a>9:
    print('namaste')
else:
    print('bye')

hello

In [6]:
a=1

if a>5:
    print('hi')
elif a>6:
    print('hello')
elif a>8:
    print('ola')
elif a>9:
    print('namaste')

#else is optional, if all conditions fail, there will be no output

In [7]:
#nested if else - inside one if-else block, there will be another if-else block

a=10

if a>4:
    if a>10:
        print('TRUE')
        
    else:
        print ('oh no')
else:
    print ('come on')

oh no

In [8]:
# 'and' requires both requirements to be true

age=22

if (age>25 and age<65):
    print('work')
else:
    print('rest')

rest

In [9]:
#IS is used when pointing to one object, meanwhile '=, >' etc check for values

a = None

if (a is None):
    print('yes')
else:
    print('no')

yes

In [10]:
#IN is used to check for values inside a list, also used in 'for loops'

k= [6, 13, 7]
print (7 in k)

True

## looping statements - for

In [11]:
# FOR LOOP - example

a=[1,2,3,4]
for variable in a:
    print(variable)

1
2
3
4

In [12]:
x=[1,2,3,4]
for panda in x:
    print(panda)

1
2
3
4

In [13]:
x=[1,2,3,4]
for panda in x:
    print(panda+5)

6
7
8
9

In [14]:
x=[1,2,3,4] 
for panda in x:
    print(panda+5, end="")    #how to make output in one line

6789

**range function** - mostly used with for loop

range(start, end, step)

In [15]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
for x in range (0,14,2):
    print(x)

0
2
4
6
8
10
12

In [2]:
for r in range(1,11):
    print (r*r)

1
4
9
16
25
36
49
64
81
100

For a given list that contains numbers from 1 to 20. Using a for loop, create a new list that contains the square of each element from the given list.

In [3]:
#creating a list from range
lis=list(range(1,21))
print (lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
lis2=[]

for square in lis:
    lis2.append(square*square)
print (lis2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

For a given dictionary that contains numbers from 1-10 as keys, and their square as values, display each key-value pair using a for loop.

In [5]:
dic={}
for x in range(1,11):
    dic[x]=x**2
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## looping statements - while


while (condition which is true):

    print(output)

In [17]:
a=10                #if used without 'break', the kernel will print output indefinitely and crash the system
while a>3:
    print('good game')
    break

good game

In [20]:
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4