If-Else Elif

Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. Think about all the edge cases, and print the statements accordingly.

In [1]:
a=10
b=20

if a>b:
    print('a is greater than b')
if b>a:
    print ('b is greater than a')

b is greater than a

Find the largest number out of the input

In [5]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 13
Enter second number: 613
Enter third number: 7
The largest number is 613.0

LOOPS

For a given list that contains numbers from 1 to 20. 
 Using a for loop, create a new list that contains the square of each element from the given list.

In [6]:
lis=list(range(1,21))
print (lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
lis2=[]

for square in lis:
    lis2.append(square*square)
print (lis2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

For a given dictionary that contains numbers from 1-10 as keys, and their square as values, display each key-value pair using a for loop.

In [8]:
dic={}
for x in range(1,11):
    dic[x]=x**2
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
d2={y:y**2  for y in range (1,11)   }

print (d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

a tuple contains even numbers from 1-20. Display all the even items in a tuple using a for loop

In [10]:
tup=tuple(x for x in range(1,21)   if x%2==0 )

print(tup)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

For a given sequence of nested lists, display the elements using a for loop. a = [[1,2],[3,4],[5,6],[7,8]]

In [11]:
a = [[1,2],[3,4],[5,6],[7,8]]

for x in a:
    print (x)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [12]:
# how to fetch 3 from nested list above

a[1][0]   #index number of the nested list then get inside the list and write index number of the element and so on

3

For a given list of natural numbers from 1-100, using the while loop, print only the numbers that are divisible by 2.

In [13]:
x = 1

while (x <= 10):
    if x%2==0:
        print(x)
    x=x+1

2
4
6
8
10

In [14]:
#factorial

num = int(input("enter your number: "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial*i
print ('The factorial of this number is ',factorial)

enter your number: 7
The factorial of this number is  5040

FUNCTIONS

Calculate the multiplication and sum of two numbers Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [15]:
def maths(a,b):
    if a*b<=1000:
        return a*b
    else:
        return a+b

In [16]:
maths(20,30)

600

In [17]:
maths(40,30)

70

Write a function to check if the year number is a leap year.

In [22]:
def leapyear():
    year = int(input('Enter the year you want to check: '))
    
    if year%400==0:
        print(f'{year} is a leap year')
    elif year%100==0:
        print(f'{year} is not a leap year')
    elif year%4==0:
        print(f'{year} is a leap year')
    else:
        print(f'{year} is not a leap year')

In [23]:
leapyear()

Enter the year you want to check: 2000
2000 is a leap year

In [24]:
leapyear()

Enter the year you want to check: 1900
1900 is not a leap year

In [27]:
leapyear()

Enter the year you want to check: 1997
1997 is not a leap year

Take user input string and check whether that string is palindrome or not.

In [29]:
def palindrome():
    s = input('Enter the string you want to check: ')
    if s == s[::-1]:
        print(f'{s} is palindrome')
    else:
        print(f'{s} is not palindrome')

In [31]:
palindrome()

Enter the string you want to check: level
level is palindrome

In [32]:
palindrome()

Enter the string you want to check: microwave
microwave is not palindrome